*{
  font-family: 'Raleway', sans-serif;
}
p{
  font-size: 22px;
}

#add-btn{
  margin-top: 20px;
  display: block;
  font-size: 17px;
  padding-left: 40px;
  padding-right: 40px;
}

.mid{
  display: flex;
  justify-content: space-evenly;
}

.onHand{
  display: flex;
  flex-direction: column;
}

.completedTask{
  display: flex;
  flex-direction: column;
}